@charset "utf-8";

body {
    background-color: #000000;
    background-image: url("/assets/image/background.png");
    background-attachment: fixed;
}

#AtagLogo {
    font-size: 1.5rem;
    text-shadow: 3px, 3px, 3px, #000000;
    text-decoration: none;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
}

/*サイドバーの設定*/
#sideflex {
    display: grid;
    grid-template-columns: 200px 1fr;
}

#main-content {
    display: flex;
    justify-content: center;
}

#main-inner {
    width: 700px;
}

#sidebar {
    position: sticky;
    top: 80px;
}

/* 各サイドバー ボックス */
.navigation {
    margin-bottom: 20px;
    background-color: #000000;
    border: 2px solid #f0c17d;
    box-shadow: 2px 2px 10px #f0c17d;
    padding: 10px;
}

/* title */
.navigation summary {
    user-select: none;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}

/* 中のリンク */
.navigation a {
    display: block;
    text-align: center;
    color: #ffffff;
    padding: 5px;
    text-decoration: none;
    transition: 0.3s;
}

/*招待状*/
#inv-back {
    text-align: center;
    background-color: #000000;
    border: 2px solid #f0c17d;
    box-shadow: 2px 2px 10px #f0c17d;
    padding: 5px;
}

.invitation {
    color: #f0c17d;
    text-align: center;
    text-shadow: 1px 1px 10px #f0c17d;
}

#inv-title {
    font-size: 200%;
}

p.invitation {
    font-size: 100%;
}

#game_overview {
    text-align: center;
    background-color: #000000;
    border: 2px solid #f0c17d;
    box-shadow: 2px 2px 10px #f0c17d;
    padding: 5px;
}

.game_overview {
    color: #ffffff;
    text-align: center;
    text-shadow: 1px 1px 10px #f0c17d;
    padding-top: 5px;
}

footer .discord {
    display: block;
}

footer {
    margin-top: 50px;
    background-color: black;
    color: #ffffff;
    font-size: 0.8rem;
    text-align: center;
    padding-top: 5rem;
}

/*スタッフ紹介*/
#staff {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.staff-card {
    background: #000;
    border: 2px solid #f0c17d;
    box-shadow: 0 0 10px #f0c17d;
    padding: 15px;
    text-align: center;
    transition: 0.3s;
}

.staff-card .staff-name {
    color: #ffffff;
    font-weight: bold;
}

.staff-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px #f0c17d;
}

.staff-card img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}

.staff-text-line {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.staff-card .staff-role {
    position: relative;
    font-size: 0.8rem;
    color: #aaa;
}

.staff-role::after {
    content: attr(data-role);
    position: absolute;
    bottom: 120%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: max-content;
    background: #000000;
    color: #ffffff;
    padding: 6px 8px;
    border: 1px solid #f0c17d;
    box-shadow: 0 0 10px #f0c17d;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;

    transition: 0.2s;
}

.staff-role:hover::after {
    opacity: 1;
}

.staff-desc {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.3s;
}

/* 開いた状態 */
.staff-card.open .staff-desc {
    max-height: 100px;
    opacity: 1;
}

/*アップデートログ*/
.update-log {
    max-width: 700px;
    margin: 20px auto;
    background-color: rgba(0, 0, 0, 200);
    color: #ffffff;
}

.update-log details {
    margin-bottom: 10px;
    border: 2px solid #f0c17d;
    padding: 10px;
}

.update-log summary {
    cursor: pointer;
    font-weight: bold;
    color: #fff;
}

.add {
    color: #4caf50;
}

.fix {
    color: #2196f3;
}

.change {
    color: #ff00ff;
}

.remove {
    color: #ff0000;
}

.new {
    color: gold;
}

/*ログsortのボタンデザイン*/

.filter-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.filter-buttons button {
    position: relative;
    background: transparent;
    color: #aaa;
    border: none;
    padding: 6px 10px;
    cursor: pointer;
}

/*ログsortのボタンアニメーション*/
.filter-buttons button::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #f0c17d;

    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.25s ease;
}

.filter-buttons button:hover::after {
    transform: scaleX(1);
}

.filter-buttons button.pressed {
    color: #f0c17d;

}

.filter-buttons button.pressed:after {
    transform: scaleX(1);
}

/*標準テンプレート*/
#w-title {
    font-size: 200%;
}

.br-main {
    display: block;
    margin: 30px 0;
    border: none;
    height: 2px;
    background: linear-gradient(
        to right,
        transparent,
        #f0c17d,
        transparent
    );
    box-shadow: 0 0 10px #f0c17d;
}

.w-subtitle {
    font-size: 150%;
}

.w-back {
    background: #000;
    border: 2px solid #f0c17d;
    box-shadow: 0 0 10px #f0c17d;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.75);
    min-width: 15%;
    max-width: 75%;
    padding: 30px;
}

#w-comment {
    color: #eac082;
}

.text-area {
    font-size: 90%;
}
.text-area .bold {
    font-weight: bold;

}

.text-area .back {
    background: rgba(250, 204, 21, 0.25);
    padding: 0 4px;
    border-radius: 3px;
}

.text-area .border {
    border-left: 3px solid #4ade80;
    padding-left: 6px;
}

.text-area .underline {
    text-decoration: underline;
    text-decoration-color: #000000;
}

.text-area .mini {
    font-size: 0.8rem;
    color: #858585;
    opacity: 0.8;
}

.hr-main {
    border: none;
    height: 2px;
    background: linear-gradient(
        to right,
        transparent,
        #f0c17d,
        #f0c17d,
        transparent
    );
    position: relative;
    margin: 30px 0;
}

.hr-sub {
    border: none;
    border-top: 1px solid rgba(240, 193, 125, 0.5);
    margin: 20px 0;
}

.hr-dotted {
    border: none;
    border-top: 1px dashed #f0c17d;
    opacity: 0.6;
}

.heading {
    position: relative;
    display: block; 
}

.heading::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    height: 2px;
    background: #f0c17d;
}
.heading::after {
    width: 0;
    animation: lineGrow 0.75s ease forwards;
}

@keyframes lineGrow {
    to {
        width: 100%;
    }
}

.heading:hover::after {
    width: 100%;
}

#content-list {
    background: #000000;
    border: 2px solid #f0c17d;
    box-shadow: 0 0 10px #f0c17d;
    margin-bottom: 20px;
}

#content-list-title {
    color: #f0c17d;
    font-weight: bold;
    margin-bottom: 8px;
    list-style: none;
}

#content-list a{
    display: block;
    color:#cccccc;
    text-decoration: none;
    padding: 3px 0;
}
#content-list a:before{
    content: "・";
    margin-right:5px;
    color: #f0c17d;
}
#content-list a:hover {
    color: #f0c17d;
}

#content-list summary::after {
    content: "▼";
    float: left;
    transition: 0.3s;
}

#content-list:not([open]) summary::after {
    transform: rotate(-90deg);
}

/*tooltip*/
.tooltip-target {
    cursor: default;
}

.status-icon {
    width: 16px;
    height: 16px;
}

#tooltip {
    position: fixed;
    display: none;
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid #f0c17d;
    box-shadow: 0 0 10px #f0c17d;
    color: white;
    padding: 6px 10px;
    border-radius: 6px;
    font-size: 12px;
    pointer-events: none;

}

/* バフ */
.buff {
    color: #fac400;
}

/* デバフ */
.debuff {
    color: #e20000;
}

/* リソース */
.resource {
    color: #9f6a3a;
}

/* リソース */
.resource {
    color: #9f6a3a;
}

/*weapons*/
.weapon-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
}

.weapon-card {
    border: 2px solid #f0c17d;
    padding: 10px;
    background: #000;
    cursor: pointer;
    transition: 0.2s;
}

.weapon-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px #f0c17d;
}

.filter-btn {
    background: none;
    border: none;
    color: #aaa;
    position: relative;
    padding: 5px 10px;
    cursor: pointer;
}

.filter-btn::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background: #f0c17d;
    transition: 0.3s;
}

.filter-btn:hover::after {
    width: 100%;
}

.filter-btn.active {
    color: #f0c17d;
}

.filter-btn.active::after {
    width: 100%;
}