@charset "utf-8";
body{
    background-color:#000000;
    background-image:url("image/background.png");
    
}

#AtagLogo{
	font-size : 1.5rem;
    text-shadow:3px,3px,3px,#000000;
    text-decoration:none;
    color:#ffffff;
}

/*サイドバーの設定*/
#sideflex {
    display:flex;
    justify-content: center;
    position: relative;
}

#navigation{
    background-color: #000000;
    border: 2px solid #f0c17d;
    box-shadow: 2px 2px 10px #f0c17d;
    padding: 2px;
    width: 120px;
    height: 150px;
    position: absolute;
    left: 0;
    margin-top: 50px;
    margin-bottom: 50px;
}

#navigation p{
    text-align: center;
    color: #ffffff;
}

/*招待状*/
#inv-back{
	text-align: center;
    background-color: #000000;
    border: 2px solid #f0c17d;
    box-shadow: 2px 2px 10px #f0c17d;
    padding: 12px;
    max-width: 50%;
}

.invitation{
    margin-bottom: 20px;
	color: #f0c17d;
    text-align: center;
    text-shadow: 1px 1px 10px #f0c17d;
    padding-top: 10px;
}

#inv-title{
    font-size: 200%;
}

p.invitation{
    font-size: 100%;
}

#game_overview{
    text-align: center;
    background-color: #000000;
    margin-bottom: 20px;
    border: 2px solid #f0c17d;
    box-shadow: 2px 2px 10px #f0c17d;
    padding: 12px;
    max-width: 50%;
    margin-inline: auto;
    height: auto;
}

.game_overview{
    
	color: #ffffff;
    text-align: center;
    text-shadow: 1px 1px 10px #f0c17d;
    padding-top: 10px;
}

footer .discord {display: block;}

footer {
    margin-top: 300px;
    background-color:black;
    color:#ffffff;
	font-size: 0.8rem; 
	text-align: center; /*センターへ変更*/
	padding-top: 5rem; 
}